body {
  background-color: #f1f1f1;
}

p {
  font-size: 7vh;
  font-weight: 900;
}

#title-area {
  text-align: center;
  margin: 4vh 0;
  color: #505050;
}

#btn-area {
  display: block;
  margin-top: 20px;
  text-align: end;
}

#thumbnail-div {
  margin: 20px 0px;
}

#thumbnail-area {
  display: block;
  padding: 20px;
  height: 64vh;
  text-align: center;
  background: linear-gradient(#24243e, #2c5364);
}

#text-area {
  display: block;
}

#img-area {
  width: 105px;
  height: 105px;
  display: block;
  margin: 10vh auto 7px auto;
}

#img-div {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

#placeholder-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#heading {
  font-size: calc(4vw + 10px);
  border: 0px;
  text-align: center;
  font-weight: 600;
  width: 90%;
  background: unset;
  color: white;
  line-height: 0.5;
}

#subheading {
  font-size: calc(2vw + 10px);
  border: 0px;
  text-align: center;
  font-weight: 600;
  width: 80%;
  background: unset;
  color: white;
  line-height: 0.5;
}

input:focus {
  outline: none;
  border-bottom: 5px solid white;
  box-shadow: 0 2px 0 0;
}

input::placeholder {
  color: rgb(179, 179, 179);
}
